body {
    background-color: var(--color-white);
    color: var(--color-grey-dark);
    font-family: $primary-font;
    scroll-behavior: smooth;
}

.row,
main {
    margin: auto;
    max-width: 1200px;
    width: 95%;
    padding: 1rem 0;
}


