<div class="form-group form-group-check">
    <input class="from-control form-check" id="field-{{id}}" type="checkbox" name="field-{{id}}" data-rule="checked" data-msg="Check the checkbox" value="1">
    <label class="control-label" for="field-{{id}}">
        Field {{id}}
        <small>rule: checked</small>
    </label>
</div>
