<div class="form-group">
    <label class="control-label" for="field-{{id}}">
        Field {{id}}
        <small>rule: selected</small>
    </label>
    <select class="form-control" id="field-{{id}}" name="field-{{id}}" data-rule="selected" data-msg="Add an valid email adress">
        <option disabled selected></option>
        <optgroup label="Group 1">
            <option>Option 1.1</option>
            <option>Option 1.2</option>
        </optgroup>
        <optgroup label="Group 2">
            <option>Option 2.1</option>
            <option>Option 2.2</option>
        </optgroup>
    </select>
</div>
