<form class="form validate">
    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Input without validation -->
        {{> form/field-input id="1" type="text"}}

        <!-- Input with validation rule required -->
        {{> form/field-input id="2" type="text" rule="required"}}

    {{/inline}}{{/sections/form-row}}

    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Input -> minlen -->
        {{> form/field-input id="3" type="text" rule="minlen:5"}}

        <!-- Input -> phone -->
        {{> form/field-input id="4" type="tel" rule="phone"}}

    {{/inline}}{{/sections/form-row}}

    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Input -> email -->
        {{> form/field-input id="5" type="email" rule="email"}}

        <!-- Input -> email verification -->
        {{> form/field-input id="6" type="email" rule="email-verify"}}
        <!-- missing validation -->

    {{/inline}}{{/sections/form-row}}

    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Input -> checkbox -->
        {{> form/field-checkbox id="7"}}

    {{/inline}}{{/sections/form-row}}

    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Input -> checkbox group -->
        {{> form/field-checkbox-group id="8"}}

        <!-- Input -> radiobox -->
        {{> form/field-radio-group id="9"}}

    {{/inline}}{{/sections/form-row}}

    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Select -->
        {{> form/field-select id="10"}}

    {{/inline}}{{/sections/form-row}}

    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Input -> regExp -->
        {{> form/field-input id="11" type="email" rule="regExp:/[^a-zA-Z]+/gm"}}

    {{/inline}}{{/sections/form-row}}

    {{#> sections/form-row}}{{#*inline "content"}}

        <!-- Textarea -->
        {{> form/field-textarea id="11" rule="required"}}

    {{/inline}}{{/sections/form-row}}



    {{!--
        <!-- missing validation -->
        <div class="form-row">
            <!-- Input -> date -->
            <input type="date"/>
            <!-- Input -> datetime -->
            <input type="datetime"/>
        </div>

        <div class="form-row">
            <!-- Input -> time -->
            <input type="time"/>
            <!-- Input -> month -->
            <input type="month"/>
        </div>

        <div class="form-row">
            <!-- Input -> number -->
            <input type="number"/>
            <!-- Input -> url -->
            <input type="url"/>
        </div>

        <div class="form-row">
            <input type="file">
            <!-- Input -> file/image -->
        </div>

        <div class="form-row">
            <input type="range"/>
            <!-- Input -> range -->
            <input type="color"/>
            <!-- Input -> color -->
        </div>

        <div class="form-row">
            <!-- Input -> password -->
            <!-- Input -> password-verify -->

            <!--
                passwordMinLenght = 6,
                passwordMaxLenght = 20,
                passwordPattern = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*()_+?><:{}[]",   @TODO: Convert to regex
            -->
        </div>
    --}}

    <div class="actions">
        <div class="form-navigation">
            <div class="btn-group" role="group">
                <button class="btn btn-ghost" type="reset">Zurücksetzen</button>
                <button class="btn btn-primary" type="submit">Absenden</button>
            </div>
        </div>
    </div>
</form>
