<div class="meta-nav">
    <div class="row">
        visit on
        <a href="https://github.com/Buddenbrock/form-validation.js" target="_blank">buddenbrock</a>
    </div>
</div>

<div class="main-nav">
    <div class="row">
        <img src="./Images/logo-small.svg" alt="Logo: FormValidation.js by @buddenbrock"/>
    </div>
</div>

{{> navigation/navigation}}


